<!doctype html>
<html lang="en">
<body>
<main role="main" class="container">
<p id="notice"><%= notice %></p>
<h1>All Schedules List</h1>
<strong>See all and a new schedule by clicking on a Tour</strong>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Status</th>
      <th>Tour</th>
      <th>City</th>
      <th>Date</th>
      <th>Venue</th>
      <th>Sound Check</th>
      <th>Doors</th>
      <th>Set Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
    <tr>
      <th scope="row"><%= link_to 'View/Edit', schedule %></th>
      <td><%= schedule.show_status %></td>
      <td> <%= link_to tour(schedule.tour_id).name, '/tours/' + schedule.tour_id.to_s %> </td>
      <td> <%= link_to day(schedule.day_id).city, '/days/' + schedule.day_id.to_s %> </td>
      <td><%= day(schedule.day_id).date %></td>
      <td> <%= link_to venue(schedule.venue_id).name, '/venues/'+schedule.venue_id.to_s %> </td>
      <td><%= schedule.sound_check_time %></td>
      <td><%= schedule.doors_time %></td>
      <td><%= schedule.set_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
</html>