<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day_id %>
</p>
<p>
  <strong>Tour:</strong>
  <%= @schedule.tour_id %>
</p>
<p>
  <strong>Load in time:</strong>
  <%= @schedule.load_in_time %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
