<%= form_with(model: income, local: true) do |form| %>
  <% if income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lead">
    <%= form.hidden_field :schedule_id, :value => @income.schedule_id %>
    <%= form.hidden_field :tour_id, :value => @income.tour_id %>
    <h2> 
    <%= @day.date %> 
    <%= link_to @day.city, "/days/"+@schedule.day_id.to_s %><br>
    <%= link_to venue(@income.schedule_id).name, "/schedules/"+@income.schedule_id.to_s %><br>
    <%= link_to tour(@income.tour_id).name, "/tours/"+@income.tour_id.to_s %>
  </h2> 
  </p>

  <div class="field">
    <%= form.label :guarantee %>
    <%= form.text_field :guarantee, id: :income_guarantee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
