<p id="notice"><%= notice %></p>

<h1>Incomes</h1>

<table>
  <thead>
    <tr>
      <th>Tour</th>
      <th>Schedule</th>
      <th>Guarantee</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |i| %>
      <tr>
        <td><%= tour(i.tour_id).name %></td>
        <td><%= i.schedule_id %></td>
        <td><%= i.guarantee %></td>
        <td><%= link_to 'Show', i %></td>
        <td><%= link_to 'Edit', edit_income_path(i) %></td>
        <td><%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income', new_income_path %>
