<body>
<main role="main" class="container">
  <p id="notice"><%= notice %></p>  
  <div class="starter-template">
  <p class="lead">Total Income: $<%= @total_income %> </p> 
  <h2> 
    <%= @day.date %> 
    <%= link_to @day.city, "/days/"+@schedule.day_id.to_s %><br>
    <%= link_to venue(@income.schedule_id).name, "/schedules/"+@income.schedule_id.to_s %><br>
    <%= link_to tour(@income.tour_id).name, "/tours/"+@income.tour_id.to_s %>
  </h2> 
  <form>
  <%= form_for @income do |f| %>
    <p>Guarantee</p>
     $<%= f.number_field :guarantee, id: :income_guarantee %>
    <p>Ticket Price</p>
      $<%= f.number_field :ticket_price, id: :income_ticket_price %>
    <p>Band End Min.</p>
      <%= f.number_field :band_end_min, id: :income_band_end_min %>
    <p>Band End Percentage</p>
      <%= f.number_field :band_end_perc, id: :income_band_end_perc %>
    <p>Band End Dollar</p>
      $<%= f.number_field :band_end_dollar, id: :income_band_end_dollar %>
    <p>Total Attendance</p>
      <%= f.number_field :attendance_total, id: :income_attendance_total %>
    <p>Total Paid</p>
      <%= f.number_field :attendance_paid, id: :income_attendance_paid %>
    <p>Merch Income</p>
      $<%= f.number_field :merch_income, id: :income_merch_income %>
    <p>Other Income</p>
      $<%= f.number_field :other_income, id: :income_other_income %>
     <p>Club Expenses</p>
      ($<%= f.number_field :club_expenses, id: :income_club_expenses %>)
     <p>Potential Income</p>
     $<%= f.number_field :potential_dollar, id: :income_potential_dollar %>
    <br><br>
    <p>Bonus</p>
      $<%= f.number_field :bonus, id: :income_bonus %>
    </p>
    <p>Bonus notes</p>
      <textarea rows="1" cols="50" > 
        <% f.text_field :bonus_notes, id: :bonus_notes, value: :bonus_notes.to_s %> %> </textarea>
    <p>Club Expense notes</p>
      <textarea rows="1" cols="50" > 
        <% f.text_field :club_expenses_notes, id: :club_expenses_notes, value: :club_expenses_notes.to_s %> </textarea>
    <p>Show notes</p>
      <textarea rows="4" cols="50" > 
        <% f.text_field :notes, id: :notes, value: :notes.to_s %> </textarea>
    <div class="actions" >
      <%= f.submit %>
    </div>
  <% end %>
 </form>
 </div>
</main>