<p id="notice"><%= notice %></p>

<h1> Income </h1>

<p>
  <strong>Tour:</strong>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @tour.schedule_id %>
</p>

<p>
  <strong>Guarantee:</strong>
  <%= @income.guarantee %>
</p>


<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
