<%= form_for @tour do |f| %>
<main role="main" class="container">
  <p id="notice"><%= notice %></p>  
  <div class="starter-template">
    <h1><%= f.text_field :name, id: :tour_name %></h1>
    <p class="lead"  >
      <%= link_to "Add Day to Tour", new_day_path(tour_id: @tour.id) %>
    </p>
    <p>
      Start Date: <%= f.date_select :start_date %>
    </p>
    <p>
      End Date: <%= f.date_select :end_date %> 
    </p>
    <div class="actions" >
      <%= f.submit %>
    </div>
    <div id="metrics">
       <!-- . 
       sum day per_diem_exp 
       sum day gas_exp 
       sum day hotel_exp 
       sum income exp

       High/low attendees
       High/low ticket price 
     -->
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Day <strong>
            | <%= link_to "New Day", new_day_path(tour_id: @tour.id) %></strong>
          </th>
          <th scope="col">Confirmed Schedules </th>
          <th colspan="5"></th>
        </tr>
      </thead >
      <tbody>
      <% @days.each do |d| %>
        <%= form_for d do |f| %>
        <tr >
          <td >
            <h3><%= link_to d.city,  "/days/"+d.id.to_s+"/" %></h3> 
            <%= d.date %>
            <br>Per Diem: $<%= d.per_diem_exp %>
            <br>Gas: $<%= d.gas_exp %>
            <br>Hotel: $<%= d.hotel_exp %>
            <br>Other Exp: $<%= d.other_expenses %>
          </td>
          <!-- . see schedule info -->
          <td>
          <table class="table" >
            <thead class="thead-light">
            <th scope="row">
              <%= schedules_for_day(d.id).count %> shows 
              <br><%= link_to "Add Schedule", new_schedule_path(day_id: d.id, tour_id: d.tour_id) %>
              <br><% schedules_for_day(d.id).each do |s| %>
                <td>
                  <%= venue(s.venue_id).name %>
                  <%= link_to "(view/edit)", "/schedules/"+s.id.to_s+"/" %>
                  <br> Details: <br>
                  <%= simple_format(s.show_schedule) %>
                  <%= simple_format(s.guest_list) %>
                </td>
             <% end %>
            </th> 
          </thead>
        </table>
        </td>
       </tr> 
      </form> <!-- end form for @tour  -->
      <% end %> <!-- end days.each  -->
      <% end %> <!-- end form for days  -->
      </tbody>
    </table>
  </div>
</main>
<%= link_to 'Back', tours_path %>
<%= link_to 'Delete', @tour, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>