<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tour.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tour.end_date %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
