<body>
<main role="main" class="container">
  <p id="notice"><%= notice %></p>  
  <div class="starter-template">
    <p class="lead"> <%= @tour.name %> </p>
    <%= form_for @tour do |f| %>
      <p id="tour_name" data-type="text" data-resource="post" data-name="name" data-url="controller/action/<%= @tour.id %>" data-original-title="Name">
        <%= f.text_field :name %>
      </p>
      <p id="tour_start_date" data-type="text" data-resource="post" data-name="start_date" data-url="controller/action/<%= @tour.id %>" data-original-title="start_date" >
      Start Date: <%= f.date_select :start_date %>
      </p>
      <p id="tour_end_date" data-type="text" data-resource="post" data-name="end_date" data-url="controller/action/<%= @tour.id %>" data-original-title="end_date">
      End Date: <%= f.date_select :end_date %>
      </p>
      <div class="actions" >
        <%= f.submit %>
      </div>
    <% end %>
    <div id="metrics">
       <!-- . 
       sum day per_diem_exp 
       sum day gas_exp 
       sum day hotel_exp 
       sum income exp
     -->
    </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Bus Call</th>
            <th scope="col">Hotel Call</th>
            <th scope="col">Notes</th>
             <th colspan="5"></th>
          </tr>
        </thead >
        <tbody>
          <% @days.each do |d| %>
            <%= form_for d do |f| %>
              <tr >
                <th scope="row"> <a href="/days/<%= d.id %>"> <%= d.date %> </a> </th>
                <td ><%= d.city %></td>
                <td ><%= f.time_field :bus_call_am %></td>
                <td ><%= f.time_field :bus_call_hotel %></td>
                <td > <textarea rows="2" cols="50" disabled=true > <%= d.notes %> </textarea></td>
                <td><%= f.submit %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <!-- /. table -->
  </div>
</main>
<!-- /.container -->
</body>
</html>
<script >

</script>
