<p id="notice"><%= notice %></p>
	<%= form_for @venue do |f| %>
		
	<p id="venue_name" data-type="text" data-resource="post" data-name="name" data-url="controller/action/<%= @venue.id %>" data-original-title="Name">
      	<%= f.text_field :name %>
	</p>

	<p>
	  <strong>Address:</strong>
   	  	<p id="venue_address" data-type="text" data-resource="post" data-name="address" data-url="controller/action/<%= @venue.id %>" data-original-title="address">
      	<%= f.text_field :address %> 
      	<br>
      	<img src="<%= @google_map %>"/> 
	</p>

	<p>
	  <strong>Phone:</strong>
 	  	<p id="venue_phone" data-type="text" data-resource="post" data-name="phone" data-url="controller/action/<%= @venue.id %>" data-original-title="phone">
      	<%= f.text_field :phone %>
	</p>

	<p>
	  <strong>Website:</strong>
   	  	<p id="venue_website" data-type="text" data-resource="post" data-name="website" data-url="controller/action/<%= @venue.id %>" data-original-title="website">
      	<%= f.text_field :website %>
	</p>

	<p>
	  <strong>Contact:</strong>
  	  	<p id="venue_contact" data-type="text" data-resource="post" data-name="contact" data-url="controller/action/<%= @venue.id %>" data-original-title="contact">
      	<%= f.text_field :contact %>
	</p>

	<p>
	  <strong>Email:</strong>
  	  	<p id="venue_email" data-type="text" data-resource="post" data-name="email" data-url="controller/action/<%= @venue.id %>" data-original-title="email">
      	<%= f.text_field :email %>
	</p>
	
	<div class="actions" >
	  <%= f.submit %>
	</div>

	<% end %>

<%= link_to 'Back', venues_path %>
