<%= form_with(model: day, local: true) do |form| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>
      <ul>
      <% day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center><%= link_to tour(@day.tour_id).name, tour_path(id: @day.tour_id) %> </center>

   <div class="field">
    <%= hidden_field(:day, :tour_id, :value => params[:tour_id]) %>
  </div>

  <div class="field">
  <h3>  <%= form.label :city %> </h3>
    <%= form.text_field :city, id: :day_city %>
  </div>

  <div class="field">
   <h3><%= form.label :date %> </h3>
    <%= form.date_select :date, id: :day_date %>
  </div>
  <br>
  <div class="field">
    <%= form.label :bus_call_am %>
    <%= form.datetime_field :bus_call_am, id: :day_bus_call_am %>
  </div>

  <div class="field">
    <%= form.label :bus_call_hotel %>
    <%= form.datetime_field :bus_call_hotel, id: :day_bus_call_hotel%>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, size: "60x12", id: :day_notes %>
  </div>

  <!--

    t.decimal "hotel_expenses"
    t.decimal "other_expenses"
    t.decimal "per_diem_exp"
    t.decimal "gas_exp"
    t.decimal "hotel_exp"

    t.datetime "bus_call_am"
    t.datetime "bus_call_hotel"
  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
