<!doctype html>
<html lang="en">
<body>
<main role="main" class="container">
<p id="notice"><%= notice %></p>
<h1>Days</h1>
<h2>
<%= link_to 'New Day', new_day_path %>
</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>City</th>
      <th>Date</th>
      <th>Tour</th>
      <th></th>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
      <% @days.each do |d| %>
        <th scope="row"><%= link_to 'View/Edit', d %></th>
        <td><%= d.city %></td>
        <td><%= d.date %></td>
        <td><%= tour(d.tour_id).name %></td>
        <td>
          <% Schedule.all.each do |s| %>
            <% if s.day_id == d.id %>
            <tbody>
              <td>
                <% if venue(s.venue_id) != nil %>
                   <%= venue(s.venue_id).name %> | 
                   <%= link_to venue(s.venue_id).email, "mailto:"+venue(s.venue_id.to_s).email %> | 
                   <%= link_to venue(s.venue_id).website, "http://"+venue(s.venue_id.to_s).website  %>
                 <%end%>
                 <th></th>
                 <th></th>
                 <th></th>
                 <th></th>
              </td>
            </tbody>
            <%end%>
          <%end%>
        </td>
        </tbody>
      <% end %> 
    </tbody>
  </table> 
  <!-- /. table -->
  </div>
</main>
<!-- /.container -->
</body>
</html>