<%= form_for @day do |f| %>
<main role="main" class="container">
  <p id="notice"><%= notice %></p>  
  <div class="starter-template">
    <center>
      <p class="lead">Show Schedule for <%= @day.date %> of <%= tour(@day.tour_id).name %></p>
    </center>
     <table class="table">
      <tbody>
      <tr>
        <td> 
          <h2>Send to Gmail</h2>
          <h2>Export</h2>
        </td>
        <td>
          <strong>Day Info</strong> <!-- Info for Day -->
          <br>City: <%= f.text_field :city %>
          <br>Date: <%= f.text_field :date %>
          <p>Day Notes:</p>
          <textarea rows="2" cols="50"> 
            <% f.text_area :notes %>
          </textarea>
        </td>
        <td>
          <strong>Expenses</strong><!-- Expenses for Day -->
          <br>Per Diem: $<%= f.number_field :per_diem_exp, as: :currency %>
          <br>Gas: $<%= f.number_field :gas_exp, as: :currency  %>
          <br>Hotel: $<%= f.number_field :hotel_exp, as: :currency  %> 
          <br>Other Expenses: $<%= f.number_field :other_expenses, as: :currency  %> 
        </td>
        <td> <%= f.submit %> </td>
      <tr>
    </tbody>
  </table>
  <!-- Schedules for Day -->
  <table class="table table-striped">
    <p class="lead">
      <%= link_to "New Schedule", new_schedule_path(day_id: @day.id, tour_id: @day.tour_id) %>
    </p>
    <thead >
      <tr>
        <th>Venue</th>
        <th>Status</th>
        <th>Times</th>
        <th>Schedule</th>
        <th>Guest List</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody class=".table-striped">
      <% schedules_for_day(@day.id).each do |s| %>
      <tr>
        <td>
        <h2><%= link_to venue(s.venue_id).name, "/schedules/"+s.id.to_s  %></h2>
        </td>
        <td>
         <%= s.show_status %>
        </td>
        <td>
          <p>Load In <%= s.load_in_time.to_s%></p>
          <p>Sound Check <%= s.sound_check_time.to_s%> </p>
          <p>Doors <%= s.doors_time.to_s%></p>
          <p>Set <%= s.set_time.to_s%></p>
        </td>
        <td>
          <%= simple_format(s.show_schedule) %>
        </td>
        <td>
          <%= simple_format(s.guest_list) %>
        </td>
      </tr>
      <% end %> 
      </tbody>
    </table> 
    <!-- /. table -->
  </div>
</main>
<%= link_to 'Back', schedules_path %>
<%= link_to 'Delete', @day, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>